// font-family: 'Kaushan Script', cursive;
// font-family: 'Open Sans', sans-serif;

$blue: #49BDDD;
$bgcolor: #335875;
$yellow: #F9E686;
$orange: #F9CF72;
$orange-s: #EAAD5D;

body {
  background: linear-gradient($bgcolor, $blue);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 700px) {
    width: 80%;
    margin: 0 auto;
  }
}




header {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: 900px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .logo {
    margin: 0 auto;
    flex-basis: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 900px) {
      flex-basis: 25%;
      justify-content: flex-start;
    }


    h1:first-child {
      font-family: 'Kaushan Script', cursive;
      color: $yellow;
    }

    h1:nth-child(2) {
      color: white;
    }
  }

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;

    a {
      text-decoration: none;
      text-align: center;
      color: white;
      font-size: 20px;
      padding: 0;
      margin: 10px 5px;
      flex-basis: 40%;

      :hover {
        cursor: pointer;
      }
    }

    @media (min-width: 500px) {
      flex-wrap: nowrap;
      flex-basis: 80%;
    }

  }

  .circle {
    display: none;
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
    background-color: white;
    margin: 0px 10px;

    @media (min-width: 700px) {
      display: inline-block;
    }

  }

  button {
    flex-basis: 85%;
    background-color: $orange-s;
    color: white;
    font-size: 20px;
    border: none;
    margin: 20px 0px;;

    @media (min-width: 900px) {
      flex-basis: 25%;
      margin: 0px 10px;
    }

  }

}

main {
  display: flex;
  flex-direction: column;
  order: 2;

  @media (min-width: 500px) {
    flex-direction: row;
    margin-top: 50px;
  }

  .hero-image {
    background: url("img/hero-pic.jpeg");
    background-size: cover;
    background-position: 50% 75%;
    flex-basis: 100%;

    @media (min-width: 500) {
    flex-basis: 50%;
    margin: auto 0;
    background-position:top;

    }
  }

  .hero-ad {
    text-align: center;
    color: white;
    padding: 10px;
    flex-basis: 100%;

    @media (min-width: 500) {
    flex-basis: 50%;
    }

    h2 {
      font-family: 'Kaushan Script', cursive;
      font-kerning: 10px;
    }

    h4 {
      color: $yellow;
    }

    p {
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.6)
    }
  }
}

.tours {
  order: 1;
  color: white;
  flex-basis: 100%;

  .tour-1, .tour-2, .tour-3 {
    background-size: cover;
    padding: 20px 0px 30px 0px;
  }

  .tour-1 {
    background-image: url("img/img1.jpeg");
  }

  .tour-2 {
    background-image: url("img/img2.jpeg");
  }

  .tour-3 {
    background-image: url("img/img3.jpg");
  }

  h3 {
    color: $orange-s;
    text-align: right;
    padding: 10px;
  }

  h2 {
    font-family: 'Kaushan Script', cursive;
    background-color: rgba(0,0,0, 0.4);
  }

  p {
    padding: 5px;
    background-color: rgba(0,0,0, 0.65);
    width: 100%;

    @media (min-width: 500px) {
      width: 50%;
    }

    @media (min-width: 700px) {
      width: 35%;
    }
  }

}

.our-guided {
  order: 3;
}

footer {
  order: 4;
}
