body {
  background: linear-gradient(#335875, #49BDDD);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 700px) {
    .container {
      width: 80%;
      margin: 0 auto; } }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 900px) {
    header {
      flex-wrap: nowrap;
      justify-content: space-between; } }
  header .logo {
    margin: 0 auto;
    flex-basis: 100%;
    display: flex;
    justify-content: center; }
    @media (min-width: 900px) {
      header .logo {
        flex-basis: 25%;
        justify-content: flex-start; } }
    header .logo h1:first-child {
      font-family: 'Kaushan Script', cursive;
      color: #F9E686; }
    header .logo h1:nth-child(2) {
      color: white; }
  header nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%; }
    header nav a {
      text-decoration: none;
      text-align: center;
      color: white;
      font-size: 20px;
      padding: 0;
      margin: 10px 5px;
      flex-basis: 40%; }
      header nav a :hover {
        cursor: pointer; }
    @media (min-width: 500px) {
      header nav {
        flex-wrap: nowrap;
        flex-basis: 80%; } }
  header .circle {
    display: none;
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
    background-color: white;
    margin: 0px 10px; }
    @media (min-width: 700px) {
      header .circle {
        display: inline-block; } }
  header button {
    flex-basis: 85%;
    background-color: #EAAD5D;
    color: white;
    font-size: 20px;
    border: none;
    margin: 20px 0px; }
    @media (min-width: 900px) {
      header button {
        flex-basis: 25%;
        margin: 0px 10px; } }

main {
  display: flex;
  flex-direction: column;
  order: 2; }
  @media (min-width: 500px) {
    main {
      flex-direction: row;
      margin-top: 50px; } }
  main .hero-image {
    background: url("img/hero-pic.jpeg");
    background-size: cover;
    background-position: 50% 75%;
    flex-basis: 100%; }
    @media (min-width: 500) {
      main .hero-image {
        flex-basis: 50%;
        margin: auto 0;
        background-position: top; } }
  main .hero-ad {
    text-align: center;
    color: white;
    padding: 10px;
    flex-basis: 100%; }
    @media (min-width: 500) {
      main .hero-ad {
        flex-basis: 50%; } }
    main .hero-ad h2 {
      font-family: 'Kaushan Script', cursive;
      font-kerning: 10px; }
    main .hero-ad h4 {
      color: #F9E686; }
    main .hero-ad p {
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.6); }

.tours {
  order: 1;
  color: white;
  flex-basis: 100%; }
  .tours .tour-1, .tours .tour-2, .tours .tour-3 {
    background-size: cover;
    padding: 20px 0px 30px 0px; }
  .tours .tour-1 {
    background-image: url("img/img1.jpeg"); }
  .tours .tour-2 {
    background-image: url("img/img2.jpeg"); }
  .tours .tour-3 {
    background-image: url("img/img3.jpg"); }
  .tours h3 {
    color: #EAAD5D;
    text-align: right;
    padding: 10px; }
  .tours h2 {
    font-family: 'Kaushan Script', cursive;
    background-color: rgba(0, 0, 0, 0.4); }
  .tours p {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%; }
    @media (min-width: 500px) {
      .tours p {
        width: 50%; } }
    @media (min-width: 700px) {
      .tours p {
        width: 35%; } }

.our-guided {
  order: 3; }

footer {
  order: 4; }

/*# sourceMappingURL=output.css.map */
